<!DOCTYPE html>
<html>
<head>
    <title>Game</title>
</head>
<body>
    <h1>Let's play a game!</h1>
    <form action="/madlib">
        <label>Name a person. <input type="text" name="person"></label><br>
         <label>Adjective: 
            <select name="adjectives">
                <option value="awesome">awesome</option>
                <option value="terrific">terrific</option>
                <option value="fantastic">fantastic</option>
                <option value="neato">neato</option>
                <option value="fantabulous">fantabulous</option>
                <option value="wowza">wowza</option>
                <option value="oh-so-not-meh">oh-so-not-meh</option>
                <option value="brilliant">brilliant</option>
                <option value="ducky">ducky</option>
                <option value="coolio">coolio</option>
                <option value="incredible">incredible</option>
                <option value="wonderful">wonderful</option>
                <option value="smashing">smashing</option>
                <option value="lovely">lovely</option>
            </select></label><br>
        <label>Pick a color. <input type="text" name="color"></label><br>
        <label>Pick a noun. <input type="text" name="noun"></label><br>
        <input type="submit">

    </form>
</body>
</html>